<label for="address">Address</label><br><input #address placeholder="Enter address.."/><br>
<button class="btn btn-primary" (click) = "onSubmit(address.value)">Submit</button>

<h2>Address: {{getAddress()}}</h2>
<h3>Safemoon Balance:</h3>
<p>{{getTotalSafemoon()}} Safemoon ({{getSafemoon()}} SFM + {{getPSafemoon()}} pSFM)</p>
<h3>Safemoon Reflections:</h3>
<p>{{getReflections()}} reflections</p>
<h3>Safemoon Transactions:</h3>
<ul>
	<li *ngFor="let transaction of getSafemoonTransactions()">
		<p>Date: {{transaction.timeStamp}}</p>
		<p>Type: {{transaction.type}}</p>
		<p>Amount: {{transaction.value}}</p>
	</li>	
</ul>
<p>Powered by BscScan.com APIs, Etherscan.io APIs</p>
