<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <ul class="navbar-nav mr-auto">
        <img class="navbar-brand" width="150" height="40" [src] = "getLogoUrl()"/>
        <li class="nav-item">
            <a class="nav-link" routerLink="/wallet">Wallet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Sign Up</a>       
        </li>
    </ul>
</nav>
